.card {
    border: 1 px solid #131010;
    border-radius: .25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 98%;
    height: 18vw;
    object-fit: contain;
    padding: 4px 4px 4px 4px;
    background-position: center;
}

.card-body {
    padding: 10px;
    text-align: center;
}